body {
  margin: 0;
  background-color: black;
  border: 2px solid white;
}
.container {
  border: 10px solid black;
}
.row1 {
  height: 90px;
  width: 100%;
  background-color: aquamarine;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.row2col1 {
  height: 80px;
  width: 25%;
  background-color: blue;
}
.row2col2 {
  height: 80px;
  width: 25%;
  background-color: green;
}
.row2col3 {
  height: 80px;
  width: 25%;
  background-color: yellow;
}
.row2col4 {
  height: 80px;
  width: 25%;
  background-color: orange;
}
.middle {
  position: relative;
}
.leftcol {
  height: 400px;
  width: 12.5%;
  background-color: blueviolet;
}
.rightcol {
  height: 500px;
  width: 12.5%;
  background-color: brown;
  position: absolute;
  top: 0;
  right: 0;
}
.centerbox {
  height: 120px;
  width: 120px;
  background-color: aqua;
  border: 3px solid white;
  position: absolute;
  top: 35%;
  left: 45%;
}
.lastrow {
  height: 100px;
  background-color: red;
}
