body {
  margin: 0;
  background-color: black;
  border: 2px solid white;
}
.container {
  border: 10px solid black;
}
.row1 {
  height: 90px;
  width: 100%;
  background-color:#64a8ff;
}
.row2 {
  display: flex;
  flex-direction: row;
}
.row2col1 {
  height: 80px;
  width: 25%;
  background-color: #e87a44;
}
.row2col2 {
  height: 80px;
  width: 25%;
  background-color: #784100;
}
.row2col3 {
  height: 80px;
  width: 25%;
  background-color: #ff7498;
}
.row2col4 {
  height: 80px;
  width: 25%;
  background-color: #5b5ab2;
}
.middle {
  position: relative;
}
.leftcol {
  height: 400px;
  width: 12.5%;
  background-color: #cd94e2;
}
.rightcol {
  height: 500px;
  width: 12.5%;
  background-color: #41474a;
  position: absolute;
  top: 0;
  right: 0;
}
.centerbox {
  height: 120px;
  width: 120px;
  background-color: #806800;
  border: 3px solid white;
  position: absolute;
  top: 35%;
  left: 45%;
}
.lastrow {
  height: 100px;
  background-color: #008541;
}
